<footer> <marquee style="color:red; background-color: white;"> <h3> K.K Wagh Institute of Engineering & Educational Research<tab>kindly note that the above data is modified till <%= date %> </h3></marquee>
 </footer>